<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
   <link rel="stylesheet" href="/styles/main.css">
    <meta charset="utf-8">

    <title>Feed</title>
  </head>
  <body>
    <section id="header">
      <p>HEADER</p>
    </section>
    <section id="menu">
      <p>
            <p><a href="/feed">Feed</a></p>
            <p><a href="/profile">Profile</a></p>
            <p><a href="/search">Search</a></p>
            <p><a href="/settings">Settings</a></p>
            <p><a href="/notifications">Notifications</a></p>
            <p><a href="/login">Logout</a></p>
        </p>
    </section>
        <section id="main">
        <p>MAIN</p>
        </section>

    <section id="miniprofile">
      <p>MINIPROF</p>
    </section>

    <section id="chat">
      <p>CHAT</p>
    </section>

    <section id="footer">
      <p>FOOTER</p>
    </section>

  </body>
</html>
