<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
   <link rel="stylesheet" href="/styles/main.css">
    <meta charset="utf-8">
    <title>Feed</title>
  </head>
  <body>

    <section id="header">
      <p>HEADER</p>
    </section>

    <section id="menu">
      <p>
        <option>
          <p><a href=templates/feed.html>Feed</a></p>
          <p><a href=templates/profile.html>Profile</a></p>
          <p><a href="templates/search.html">Search</a></p>
          <p><a href=templates/settings.html>Settings</a></p>
          <p><a href=templates/notification.html>Notifications</a></p>
          <p>Logout</p>
        </option>
      </p>
    </section>

    <section id="main">
      <p>MAIN</p>
    </section>

    <section id="miniprofile">
      <p>MINIPROF</p>
    </section>

    <section id="chat">
      <p>CHAT</p>
    </section>

    <section id="footer">
      <p>FOOTER</p>
    </section>

  </body>
</html>
