<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="shortcut icon" href="/media/favicon.png" />
    <link rel="stylesheet" href="/styles/main.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <meta charset="utf-8">

    <title></title>
  </head>
  <body>

    <section id="header">
      <img id="logo" src="media/logo.png" alt="logo"/>
    </section>

    <section id="menu">
      <p>
          <p><a href="/feed">Feed</a></p>
          <p><a href="/chatroom">Chat</a></p>
          <p><a href="/profile">Profile</a></p>
          <p><a href="/search">Search</a></p>
          <p><a href="/notifications">Notifications</a></p>
          <p><a href="{{ sign_out }}">Sign out</a></p>
      </p>
    </section>

    <section id="main">
      <p><iframe src="https://calendar.google.com/calendar/embed?src={{ friend.email }}&ctz=America%2FLos_Angeles" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe></p>
    </section>

    <section id="miniprofile">
      <p></p>
      <img class="center" src="https://pikmail.herokuapp.com/{{ friend.email }}?size=100" onerror="imgError(this);"/>
      <section id="console">
        <div id="user_info">
            <h2 class="user_info_content" id="user_name">{{ name }}</h2>
            <h2 class="user_info_content" id="username">@{{ username }}</h2>
        </div>

        <p></p>

        <div id="about_content">
          <h1 id="total_title">Total number of users: {{ user_count }}</h1>
          {% for user in users %}
            <p><a href ="/friendprofile" id="target_info">@{{ user.username }}</a></p>
          {% endfor %}
        </div>
      </section>
    </section>

    <section id="footer">
      <p>Where You At ©</p>
    </section>
    <script src="/static/main.js"></script>
  </body>

</html>
