{% extends "templates/layout.html" %}
{% block content %}
  <p><h1 class="info">Information</h1></p>
    <p>Calendars must be public in order to view them on WYA. If you wish to see your own calendar on this website you need to sign into WYA with your gmail account with your main calendar set to public.</p>
    <p>To make your calendar public:
      <ul>Go to this <a href="https://calendar.google.com/calendar/r" id="gcalendar">link</a></ul>
      <ul>Click on the three dots next to your first calendar under "My Calendars"</ul>
      <ul>Go to "Settings and sharing"</ul>
      <ul>Check the box labeled "Make available to the public" in the "Access Permissions" box</ul>
    </p>
  <p><h1 class="info">The Team</h1></p>
    <img src="media/theteam.jpg" alt="theteam" id="theteam"/>
    <p><a href="https://www.linkedin.com/in/megan-m-richardson/">Megan Richardson</a>, <a href="https://www.linkedin.com/in/elena-s-martinez-a1ab44143/">Elena Martinez</a>, <a href="https://www.linkedin.com/in/moriah-s-8a9026a9/">Moriah Scott</a></p>
    <p>We are a group of three college students attending Loyola Marymount University. We made this project in the Google Computer Science Summer Institute Extension Program at LMU.</p>



{% endblock %}


{% block miniprofile %}
<img class="center" src="https://pikmail.herokuapp.com/{{ email }}?size=100" onerror="imgError(this);"/>
<section id="console">
    <div id="user_info">
      <h2 class="user_info_content" id="user_name">{{ name }}</h2>
      <h2 class="user_info_content" id="username">@{{ username }}</h2>
    </div>
</section>
{% endblock %}
