<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="shortcut icon" href="/media/favicon.png" />
    <link rel="stylesheet" href="/styles/main.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <meta charset="utf-8">

    <title>Where You At</title>
  </head>
  <body>

    <section id="header">
      <img id="logo" src="media/logo.png" alt="logo"/>
      <section id="WhereYouAt">Where You At</section>
    </section>

    <section id="menu">
      <p>
          <p><a id="amain" href="/profile">Profile</a></p>
          <p><a id="amain" href="/chatroom">Chat</a></p>
          <p><a id="amain" href="/feed">Feed</a></p>
          <p><a id="amain" href="/information">Information</a></p>
          <p><a id="amain" href="/explore">Explore</a></p>
          <p><a id="amain" href="{{ sign_out }}">Sign out</a></p>
      </p>
    </section>

    <section id="main">
      {% block content %}{% endblock %}
    </section>

    <section id="miniprofile">
      <p></p>
      {% block miniprofile %}{% endblock %}

        <p></p>

        <div id="about_content">
          <h1 id="total_title">Total number of users: {{ user_count }}</h1>
          {% for user in users %}
            <p><a href ="/friendprofile?friend={{user.username}}" id="target_info">@{{ user.username }}</a></p>
          {% endfor %}
        </div>
      </section>
    </section>

    <section id="footer">
      <p>Where You At ©</p>
    </section>
    <script src="/static/main.js"></script>
    <script src="/static/app.js"></script>
    <script> src="https://maps.googleapis.com/maps/api/js?callback=myMap" </script>

  </body>

</html>
