<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
  <link rel="stylesheet" href="/styles/login.css">
    <meta charset="utf-8">
    <title>Login</title>
  </head>
  <body>
    <div id="background_image">
  <h1 id= "title"> Login </h1>
  <h2> <a = id = "login_link"
    href= "https://accounts.google.com/ServiceLogin?service=ah&amp;passive=true&amp;continue=https://appengine.google.com/_ah/conflogin%3Fcontinue%3Dhttps://lionhouse-212916.appspot.com"> Sign In</a></h2>
</div>
  <div class = "container" >
    <div class="left"> </div>
    <div class="right"> </div>

      <h3> Login Here </h3>
      <form action="" method "post">
        <table>
          <tr>
            <td> Username: </td>
            <td>
              <input type ="text" name="user">
            </td>
          </tr>
          <td> Password:</td>
          <td>
            <input type="password" name="user">
          </td>
          </tr>
        <tr>
          <td> <input type="submit" name="submit" value"Login">
          </td>
          <td>
            Not Yet A Member?
        </tr>

  </body>
</html>
