<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
  <link rel="stylesheet" href="/styles/login.css">
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">

    <meta charset="utf-8">
    <title> WYA </title>
    <title>WYA Login</title>
  </head>
  <body>
    <div id="muteYouTubeVideoPlayer"> </div>

<script async src="https://www.youtube.com/iframe_api" ></script>
<script>
 function onYouTubeIframeAPIReady() {
  var player;
  player = new YT.Player('muteYouTubeVideoPlayer', {
    videoId: 'RiflrSmMYq0',
    width: 1700,
    height: 1000,
    playerVars: {
      autoplay: 1,
      controls: 1,
      showinfo: 0,
      modestbranding: 1,
      loop: 1,
      fs: 0,
      cc_load_policy: 0,
      iv_load_policy: 3,
      autohide: 0,
      start: 14,
      end: 127,
      controls: 0,
      rel: 0,
      disablekb: 1,
      showinfo: 1,
    },
    events: {
      onReady: function(e) {
        e.target.mute();
      }
    }
  });
 }
</script>
    <div id="background_image">
      <img id="loginlogo" src="media/logo.png" alt="logo"/>
      <section id="login_link"><h2><a href="{{ login_url }}">Sign.In</a></h2></section>
      <section id="list"><h2> WHERE YOU AT </h2></section>
    </div>
  </body>
</html>
