<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>New User</title>
  </head>
  <body>
    <div id="new_user_image">
      <div id="top_row">
          <h1 id="welcome">Welcome {{ nickname }}! <br> Please sign up!</h1>
          <a id="sign_out_button" href="{{ logout_url }}"><span>Sign out</span></a>
          <form method="post" action="/profile">
              <input class="input_text" type="text" name="name" placeholder="Enter your full name">
              <input class="input_text" type="text" name="username" placeholder="Enter a username">

              <button id="submit_button" type="submit"><span>Submit</span></button>
          </form>
      </div>
    </div>
  </body>
</html>
