<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="/styles/main.css">
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <section id="header">
      <p>HEADER</p>
    </section>

    <section id="menu">
      <p>
          <p><a href="/feed">Feed</a></p>
          <p><a href="/profile">Profile</a></p>
          <p><a href="/search">Search</a></p>
          <p><a href="/settings">Settings</a></p>
          <p><a href="/notifications">Notifications</a></p>
          <p><a href="{{ sign_out }}">Sign out</a></p>
      </p>
    </section>

    <section id="main">
      <p><iframe src="https://calendar.google.com/calendar/embed?src=h7i5i7rf6jqkc95fi34ea3jqjo%40group.calendar.google.com&ctz=America%2FLos_Angeles" style="border: 0" width="100%" height="600" frameborder="0" scrolling="no"></iframe></p>
    </section>

    <section id="miniprofile">
      <p>MINIPROF</p>
    </section>

    <section id="chat">
      <p>CHAT</p>
    </section>

    <section id="footer">
      <p>FOOTER</p>
    </section>

  </body>
</html>
