<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="shortcut icon" href="/media/favicon.png" />
    <link rel="stylesheet" href="/styles/main.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <meta charset="utf-8">

    <title>Search</title>
  </head>
  <body>
    <section id="header">
      <img id="logo" src="media/logo.png" alt="logo"/>
    </section>

    <section id="menu">
      <p>
          <p><a href="/feed">Feed</a></p>
          <p><a href="/chatroom">Chat</a></p>
          <p><a href="/profile">Profile</a></p>
          <p><a href="/search">Search</a></p>
          <p><a href="/notifications">Notifications</a></p>
          <p><a href="{{ sign_out }}">Sign out</a></p>
      </p>
    </section>

    <section id="main">
      <p>SEARCH</p>
    </section>

    <section id="miniprofile">
      <p></p>
        <img id="profPic" src="https://pikmail.herokuapp.com/{{ email }}?size=100" onerror="imgError(this);"/>
    </section>

    <section id="footer">
      <p>Where You At ©</p>
    </section>
    <script src="/static/main.js"></script>
  </body>
</html>
