body {
  background-color: white;
  color: black;
  /*background-image: url("/media/colorful.jpg");*/
  background-color: black;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  grid-template-rows: 1fr auto 1fr;
}

#loginlogo {
  text-align: center;
  height: 100px;
}

#login_link {
  grid-row: 2;
  color: white;
  font-size: 100px;
  font-family: impact;
  text-shadow: 2px 2px 2px black;
  width:160px;
  position: absolute;
  min-height:40px;
  z-index:300000;
  bottom:10px;
  left:10px;
  margin-left: 800px;
}

a {
  text-decoration: none;
  color: white;
  text-shadow: 10px 10px black;
}
#title {
position: absolute;
color: black;
width:160px;
min-height:40px;
z-index:300000;
bottom:10px;
left:10px;
text-align:center;
margin-left: 800px;
font-family: impact;
font-size: 100px;
text-shadow: 10px 10px white;
}
#loginlogo {
  position: absolute;
  min-height:40px;
  z-index:300000;
  bottom:10px;
  left:10px;
  margin-left: 800px;
}
#list {
  position: absolute;
  min-height:40px;
  z-index:300000;
  bottom: 96px;
  left:10px;
  margin-left: 800px;
  font-family: Raleway;
  color: white;
  font-weight: bold;
}
