body {
  background-color: white;
  text-align: center;
  color: black;
  background-image: url("/media/colorful.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
#login_link{
  color: white;
  font-size: 100px;
  font-family: impact;
  text-shadow: 2px 2px 2px black;
  padding: 50px 20px 10px 20px;
}
