body {
  background-color: white;
  color: black;
  background-image: url("/templates/login.html");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  grid-template-rows: 1fr auto 1fr;
}

#login_link {
  grid-row: 2;
  color: white;
  font-size: 100px;
  font-family: impact;
  text-shadow: 2px 2px 2px black;
  padding: 50px 20px 10px 20px;
  position: absolute;
  width:160px;
  min-height:40px;
  z-index:300000;
  bottom:10px;
  left:10px;
  margin-left: 800px;
}

a {
  text-decoration: none;
  color: white;
}
#title {
position: absolute;
width:160px;
min-height:40px;
background-color:#dadada;
z-index:300000;
bottom:10px;
left:10px;
text-align:center;
margin-left: 800px;
}
