body{
  display: grid;
  grid-template-columns: 150px auto 200px;
  grid-template-rows: 100px auto 275px 50px;
  margin: 0;
  height: 100vh;
}

#header{
  grid-column: 1 / span 3;
  grid-row: 1;
  background: white;
  font-size: 35px;
  /*background-image: url("/media/giphy.gif");*/
  background-image: linear-gradient(to right, #f79393, #f87f83, #f86a75, #f75267, #f5325a);
}

#menu {
  grid-column: 1;
  grid-row: 2 / span 2;
  background-color: white;
  border-right: 1px black solid;
  padding: 10px 20px;
  padding: 0px 25px;
  line-height: 5;
  font-size: 100%;
  background-color: white;
  font-family: 'Raleway', sans-serif;
}
 a {
  text-decoration: none;
  font-weight: bold;
  color: black;
}
 a:hover {
  text-decoration: none;
  color: #f5325a;
}

#menu{
  grid-column: 1;
  grid-row: 2 / span 2;
  /*background: linear-gradient(white, grey, white);*/
  padding: 10px 20px;
}

a{
  text-decoration: none;
}

a:hover{}

#main{
  grid-column: 2;
  grid-row: 2 / span 2;
  background-color: white;
  padding: 10px 10px;
  font-family: 'Raleway', sans-serif;
}

#miniprofile , #friends{
  grid-column: 3;
  grid-row: 2 / span 2;
  /*background: linear-gradient(white, blue, white, white);*/
  padding: 10px;
  background-color: white;
  border-left: 1px black solid;
  font-family: 'Raleway', sans-serif;
}

#chat{
  grid-row: 3;
  grid-column: 3;
  /*background: linear-gradient(white, pink, white);*/
  padding: 10px;
  background-color: white;
  border-left: 1px black solid;
  border-top: 1px black solid;
  font-family: 'Raleway', sans-serif;
}

#footer{
  grid-column: 1 / span 3;
  grid-row: 4;
  /*background: linear-gradient(to right, white, blue, white);*/
  padding: 0px 10px;
  background-color: #ffd966ff;
  font-family: 'Raleway', sans-serif;
}

#logo{
  height: 80px;
  padding: 10px;
}

#messagessection{
  background-color: #ffd966ff;
  width: auto;
  height: auto;
  padding: 20px;
}

#messages{
  background-color: white;
  line-height: 2;
  list-style-type: none;
}
