body{
  display: grid;
  grid-template-columns: 150px auto 200px;
  grid-template-rows: 100px auto 50px;
  margin: 0;
  height: 100vh;
}

#header{
  grid-column: 1 / span 3;
  grid-row: 1;
  background: white;
  font-size: 35px;
  /*background-image: url("/media/giphy.gif");*/
  background-image: linear-gradient(to right, #f79393, #f87f83, #f86a75, #f75267, #f5325a);
}
.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}
#user_info{
  color: black;
  background-color: #f79393;
  padding: 10px;
  margin: 10px;
  border-radius: 0px;
  font-size: 10px;
}

#about_content{
  font-size: 12px;
}

#profPic{
  align-content: center
}
#menu{
  grid-column: 1;
  grid-row: 2;
  background-color: white;
  border-right: 1px black solid;
  padding: 10px 20px;
  padding: 0px 25px;
  line-height: 5;
  font-size: 100%;
  background-color: white;
  font-family: 'Raleway', sans-serif;
}
 a {
  text-decoration: none;
  font-weight: bold;
  color: black;
}
 a:hover {
  text-decoration: none;
  color: #f5325a;
}

a{
  text-decoration: none;
}

a:hover{}

#main{
  grid-column: 2;
  grid-row: 2;
  background-color: white;
  padding: 10px 10px;
  font-family: 'Raleway', sans-serif;
}

#miniprofile , #friends{
  grid-column: 3;
  grid-row: 2;
  /*background: linear-gradient(white, blue, white, white);*/
  padding: 10px;
  background-color: white;
  border-left: 1px black solid;
  font-family: 'Raleway', sans-serif;
}

#footer{
  grid-column: 1 / span 3;
  grid-row: 3;
  /*background: linear-gradient(to right, white, blue, white);*/
  padding: 0px 10px;
  background-color: #ffd966ff;
  font-family: 'Raleway', sans-serif;
  text-align: right;
}
.header {
	font-family:'Raleway', sans-serif;
	font-size: 60px;
	font-weight:  100;
	letter-spacing: 2px;
	text-align: left;
	color: #f35626;
	background-image: -webkit-linear-gradient(92deg, #f35626, #feab3a);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	-webkit-animation: hue 10s infinite linear;
}

@-webkit-keyframes hue {
  from {
    -webkit-filter: hue-rotate(0deg);
  }
  to {
    -webkit-filter: hue-rotate(-360deg);
  }
}
#message {
  height: 20%;
    background-color: white;
    margin: 10px;
    padding: 0px 0px 0px 10px;
    height: 75px;
    width: 700px;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 0 6px 10px 0 lavender;
}
#logo{
  height: 80px;
  padding: 10px;
}

#myButton {
  font-family:'Raleway', sans-serif;
  font-size: 20px;
  font-weight:  60;
  letter-spacing: 2px;
  text-align: left;
  color: #f35626;
  background-image: -webkit-linear-gradient(92deg, #f35626, #feab3a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: hue 10s infinite linear;
}
#messagessection{
  background-color: white;
  height: auto;
  padding: 20px;
  overflow: auto;
  width: auto;
  height: 420px;
  background-color: white;
  margin: 10px;
  padding: 0px 0px 0px 10px;
  border-radius: 10px;
  border-color: pink;
  border-style: solid;
}

#messages{
  background-color: white;
  line-height: 2;
  border-width: auto;
  width: auto;
}

ul li {
    background-image: -webkit-linear-gradient(92deg, #f35626, #feab3a);
    margin: 5px;
    padding: 0px 0px 0px 10px;
    border-radius: 30px;
    border-color: pink;
    border-width: 20px 20px 20px 20px;

    font-family:'Raleway', sans-serif;
    font-weight:  100;
    letter-spacing: 2px;
    text-align: left;
    color: black;
    background-image: -webkit-linear-gradient(92deg, #f35626, #feab3a)
    -webkit-text-fill-color: transparent;
    -webkit-animation: hue 10s infinite linear;
}

ul.leaf {
list-style-image: url('/media/favicon.ico');

}
/* Set the size of the div element that contains the map */
#map {
   width: 100%;
   height: 400px;
   background-color: grey;



/*list-style-image
