body{
  display: grid;
  grid-template-columns: 150px auto 200px;
  grid-template-rows: 80px auto 275px 50px;
  margin: 0;
  height: 100vh;
}

#header{
  grid-column: 1 / span 3;
  grid-row: 1;
  background: white;
  padding: 10px;
  font-size: 35px;
  font-family: impact;
  text-align: center;
  background-image: url("/media/giphy.gif");
}

#menu{
  grid-column: 1;
  grid-row: 2 / span 2;
  background: linear-gradient(white, grey, white);
  padding: 10px 20px;
}

#main{
  grid-column: 2;
  grid-row: 2 / span 2;
  background-color: white;
  padding: 10px 10px;
}

#miniprofile , #friends{
  grid-column: 3;
  grid-row: 2 / span 2;
  background: linear-gradient(white, blue, white, white);
  padding: 10px;
}

#chat{
  grid-row: 3;
  grid-column: 3;
  background: linear-gradient(white, pink, white);
  padding: 10px;
}

#footer{
  grid-column: 1 / span 3;
  grid-row: 4;
  background: linear-gradient(to right, white, blue, white);
  padding: 0px 10px;
}
